// @import "../mixins.scss";

.shape-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .shape-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
}
